/*Goofle Font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Titillium+Web:wght@400;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif; */

/*Common Style*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
}
h1 ,h3, h2{
    margin: 0;
    padding: 0;
}

/*Nav Related Stytle*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.r-color{
    color: #FD6E0A;
}
.logo{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

.btn-primary{
    background-color: #FD6E0A;
    border: 1px solid transparent;
    padding: 3px 8px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
}
.header{
    background-image:url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
}

/* banner related style */
a{
    text-decoration: none;
}
.banner{
    padding: 40px 0px 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content{
    width: 500px;
}
.Portfolio_img{
    width: 370px;
    height: auto;

}
.banner_title{
    font-size: 45px;
    color: #474747;
}
.banner_title_2{
    font-size: 80px;
    color: #181818;
}
.dis{
    color: #757575;
    margin-bottom: 30px;
    text-align: justify;
    
}
.btn-second{
    border: 1px solid #FD6E0A;
    padding: 3px 8px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #FD6E0A;
    transition: 0.6s;
}
.btn-second:hover{
    background-color: #FD6E0A;
    color: #fff;
}

/*about section syle*/
.about_section{
    padding: 140px 0px 100px;
    /* background-color: #eee6e0; */
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.section_tytle{
    text-align: center;
    color: #181818;
    font-size: 35px;
}
.about_info_container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.about_inf_ h4, p{
    text-align: center;
    margin: 0;
    padding: 0;
}

/* what i do section  */
.do_section_content{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 ;
}
.do_sec_title{
    padding-bottom: 20px;
    font-size: 30px;
}
.do_sec_disc{
    color: #757575;
}
/* skrill content  */
.whats_i_do_sec{
    width: 950px;
    margin: 0 auto;
}
.skrills_container{
    display: flex;
    padding-bottom: 35px;
}
.skrill{
    padding: 30px;
    margin: 4px;
    text-align: center;
    color: #757575;
    background-color: rgb(235, 234, 234);
}
.skrill>h3{
    color: #181818;
    margin-bottom: 4px;
}
.skrill >img{
    margin-bottom: 10px;
}

/* resume content site  */
.resume_section{
    padding: 40px 0;
}
.resume_container{
    display: flex;
    gap: 20px;
    width: 1080px;
    margin: 0 auto;
}
.res_section_title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.resume_item > p{
    display: inline;
}
.resume_item_title {
    font-size: 25;
    color: #474747;
}
.resume_item_inf{
    color: #757575;
}
.resume_item_desc{
    color: #757575;
}
.resume_collam_title{
    font-size: 30px;
    margin-bottom: 10px;
}
.downloa-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer section  */
.footer_sec{
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;

}
.footer_colum{
    height: auto;
    margin-right: 5px;
}
.footer_colum >p{
    display: inline;
    color: #474747;
}
.footer_title{
    font-size: 30px;
    margin-bottom: 20px;
}
.social_link img{
    margin-right: 10px;
    margin-top: 13px;
}
.footer_input_fild input{
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    width: 420px;
}
.s_button {
    margin-top: 20px;
}
.submit_button {
    color: rgb(255, 255, 255);
    background-color: #FD6E0A;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 3px;
}